# Stage A : Graded quiz

### Import libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt
%matplotlib inline

### Read data (fuel_ferc1.csv)

In [2]:
Data = pd.read_csv('fuel_ferc1.csv')
Data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [3]:
Data.columns

Index(['record_id', 'utility_id_ferc1', 'report_year', 'plant_name_ferc1',
       'fuel_type_code_pudl', 'fuel_unit', 'fuel_qty_burned',
       'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned',
       'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu'],
      dtype='object')

### Question 1
##### Result after joining two lists using extend()

In [11]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]
A.extend(B)
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

### Question 2
##### Create an indentity matrix 3*3

In [12]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

### Question 3
##### The gas has the lowest value in fuel_type_code_pudl

In [123]:
Data.groupby('fuel_type_code_pudl')[['fuel_cost_per_unit_burned']].mean().idxmin()

fuel_cost_per_unit_burned    gas
dtype: object

### Question 4
##### Standard deviation, Quantile values

In [66]:
Standard_deviation = (Data['fuel_mmbtu_per_unit']).std()
Quantile = round(Data['fuel_mmbtu_per_unit'].quantile(0.75),2)
Standard_deviation, Quantile

(10.600220307806714, 17.01)

### Question 5
##### Kurtosis and Skew values for fuel_qty_burned

In [58]:
Kurtosis=Data['fuel_qty_burned'].kurtosis()
Skew = Data['fuel_qty_burned'].skew()
Kurtosis, Skew

(651.3694501337732, 15.851495469109503)

### Question 6
##### Missing values and percentage

In [68]:
Data.isna().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [71]:
# Percentage missing values
Percent = ((180*100)/len(Data))*100
Percent

60.969413677471806

In [122]:
# Answer question 6
print(f'Feature: fuel_unit, Total:{180}, Percent:{Percent}')

Feature: fuel_unit, Total:180, Percent:60.969413677471806

### Question 7
#####  The missing values are coming from the feature: 'fuel_unit' which has a type of 'Categorical', then we can preprocessing the data and avoid missing values using 'the mode imputation'

##### So the answer for this question is: 'Categorical and the mode imputation'

### Question 8
##### The second and third features less correlated to the feature  'fuel_cost_per_unit_burned' are 'fuel_qty_burned' and 'fuel_mmbtu_per_unit' as follows:

In [91]:
Data.corr()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

In [93]:
Data.corr()[['fuel_cost_per_unit_burned']].sort_values(by='fuel_cost_per_unit_burned')[1:3]

                     fuel_cost_per_unit_burned
fuel_qty_burned                      -0.018535
fuel_mmbtu_per_unit                  -0.010034

### Question 9

### Question 10

In [121]:
Data.groupby('report_year')[['fuel_cost_per_unit_delivered']].mean().idxmax(axis=0)

fuel_cost_per_unit_delivered    1997
dtype: int64